# JWT Secrets (CRYPTOGRAPHICALLY SECURE)
JWT_SECRET_KEY=secret
JWT_REFRESH_SECRET_KEY=secret

# Token expiration
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# SMTP
SMTP_HOST=smtp_host
SMTP_PORT=465
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_SENDER_EMAIL=твой_email@meetgazebo.ru
SMTP_USE_TLS=True
VERIFICATION_CODE_EXPIRE_MINUTES=15

# OAuth Providers
GITHUB_CLIENT_ID=client
GITHUB_CLIENT_SECRET=secret
GITHUB_REDIRECT_URI=http://localhost:8000/api/auth/callback/github

GOOGLE_CLIENT_ID=google client
GOOGLE_CLIENT_SECRET=secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/callback/google

VK_CLIENT_ID=vk client
VK_CLIENT_SECRET=secret
VK_REDIRECT_URI=http://localhost:8000/auth/callback/vk

# Password hashing
PASSWORD_HASH_ALGORITHM=secret
JWT_ALGORITHM=secret

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost,https://localhost

# LiveKit
LIVEKIT_API_KEY=APILocalKey123
LIVEKIT_API_SECRET=secret
LIVEKIT_URL=wss://localhost/rtc

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql+asyncpg://user:db@postgres:5432/db

# MinIO / S3
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_PUBLIC_URL=https://localhost/minio

FRONTEND_URL=http://localhost
